<%= render '/layouts/flash_messages' %>
<div class="row justify-content-center investment-form">
  <div class="card" style="width: 21.5rem; height: auto;">
    <div class="card-body">
      <h2 class="card-title">Investment</h2>
      <hr>
      <%= form_for @investment do |form| %>
        <% if @investment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>
            <ul>
            <% @investment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            <hr>
            </ul>
          </div>
        <% end %>

        <div class="form-row">


          <div class="field form-group col-md-6">
            <%= form.label :Amount, class: "form-text" %>
            <%= form.text_field :amount, class: "form-control", required: true %>
          </div>
          <br>

        <div class="field form-group col-md-6">
          <%= form.label :description, class: "form-text" %>
          <%= form.text_field :description, class: "form-control", required: true %>
        </div>

        <div class="actions">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
      <br>
      <hr>
      <% end %>
      
    </div>
  </div>
</div>
