<div class="row m-2">
  <h2 class="float-left">Investments</h2>
  <%= link_to 'New Investment', new_charge_path, class: "text-white btn btn-primary ml-auto"%>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
      <% count = 0 %>
      <% @investments.each do |investment| %>
      <% count +=1 %>
        <tr>
          <th scope="row"><%= count %></th>
          <td><%= investment.created_at %></td>
          <td><%= investment.amount %></td>
          <td><%= investment.description %></td>
        </tr>
      <% end %>
  </tbody>
</table>
