<!DOCTYPE html>
<html>
  <head>
    <title>Trading1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <%= render '/layouts/navbar' %>

    <%= yield %>
    
    <%= render '/layouts/footer' %>



  </body>
</html>
